<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApiInterfaceMethodMapper">
	<!-- 根据接口名称查询接口对象 -->
	<select id="findMethod" parameterType="pd" resultType="pd">
		select * from api_interface_method where id=#{InterfaceId}
	</select>

	<!-- 根据接口名称查询接口对象 -->
	<select id="findAllMethods"  resultType="pd">
		select * from api_interface_method
	</select>
</mapper>