<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppEpcProjectMapper">  

    <!--查询交易首页信息-->
	<select id="queryProIndexByParam" parameterType="pd" resultType="pd">
		SELECT P.ID,P.PROJECT_NAME,P.COVER_PATH,P.USER_ID,P.CREATE_BY,P.IS_RESOURCE,P.PROJECT_CONTENT,P.IS_HOT,P.START_PRICE,P.CREATE_DATE,P.TOTAL_BIDDER,P.STATUS,D.NAME AS STAGE_NAME,D.BIANMA  FROM PROJECT P LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID  
		WHERE P.STATUS &gt;=4 AND P.ISDEL=1 AND P.DISTINGUISH=2
		<if test="PROJECT_NAME !=null and PROJECT_NAME !=''">
		    and P.PROJECT_NAME LIKE CONCAT(CONCAT('%', #{PROJECT_NAME}),'%')
		</if>  
		<if test="CITY !=null and CITY !=''">
		    and P.CITY =#{CITY}
		</if>  
		<if test="PROJECT_STAGE_ID !=null and PROJECT_STAGE_ID !=''">
		    and P.PROJECT_STAGE_ID =#{PROJECT_STAGE_ID}
		</if>   
		<if test="USER_ID !=null and USER_ID !=''">
		    and P.USER_ID =#{USER_ID}
		</if>  
		<if test="PROJECT_TYPE_ID !=null and PROJECT_TYPE_ID !=''">
		    and (P.CATEGORY_ID =#{PROJECT_TYPE_ID} or P.PROJECT_TYPE_ID =#{PROJECT_TYPE_ID})
		</if>  
		 ORDER BY P.CREATE_DATE DESC
		 <if test="pageSize!=null and start!=null">
			limit #{start},#{pageSize}
		</if> 
	</select>   
	
	<!-- 根据订阅信息查询项目信息--> 
	<select id="queryDys" parameterType="pd" resultType="pd"> 
		SELECT P.ID,P.PROJECT_NAME,P.USER_ID,P.CREATE_BY,P.COVER_PATH,P.IS_RESOURCE,P.IS_HOT,P.PROJECT_CONTENT,P.START_PRICE,P.CREATE_DATE,P.TOTAL_BIDDER,P.STATUS,D.NAME AS STAGE_NAME,D.BIANMA  FROM PROJECT P LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID  
		WHERE  P.STATUS &gt;=4 AND P.ISDEL=1  and (P.PROJECT_STAGE_ID in (SELECT BIANMA FROM JL_DY_JD WHERE USER_ID=#{USER_ID}) or P.PROJECT_TYPE_ID =D.BIANMA
		or P.CITY in (select areaname as name from sys_area a where a.parentid in (SELECT CTYPE FROM JL_DY_DQ WHERE PTYPE='0' and areacode!='310000' and areacode!='500000' and areacode!='110000'and areacode!='120000' AND USER_ID=#{USER_ID}) 
		or a.areacode in (SELECT CTYPE FROM JL_DY_DQ WHERE  USER_ID=#{USER_ID} and (PTYPE!='0' or  CTYPE='310000' or CTYPE='500000' or CTYPE='110000'or CTYPE='120000'))) )
		<if test="pageSize!=null and start!=null">
			limit #{start},#{pageSize}
		</if> 
	</select>    
	 
	<!-- 修改参与人数 -->
	<update id="updateCounts" parameterType="pd">
		UPDATE PROJECT SET  
		<if test="TOTAL_BIDDER != null and TOTAL_BIDDER !=''">
		   TOTAL_BIDDER=#{TOTAL_BIDDER},
		</if>  
		ID=#{PRO_ID} WHERE ID=#{PRO_ID}
    </update>  
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into project(
			ID,PROJECT_NAME,	USER_ID,ADDR,	DUE_DATE,	PROJECT_CONTENT,	
			PROJECT_TYPE_ID,	RELEASE_DATE,	STATUS,COVER_PATH,IS_RESOURCE,
			START_PRICE,MODIFY_BY,MODIFY_DATE,PROJECT_STAGE_ID,
			BUILD_LAYERS,BUILD_AREA,FLOOR_AREA,AVAILABLE_MATERIALS,RESOURCE,DESCRIPTION,CITY,
			PART_COUNT,CREATE_BY,START_DATE,CREATE_DATE,CATEGORY_ID
		) values (
			#{PRO_ID},#{PROJECT_NAME},	#{USER_ID},	#{ADDR},	#{DUE_DATE},	#{PROJECT_CONTENT},	
			#{PROJECT_TYPE_ID},	#{RELEASE_DATE},#{STATUS},#{COVER_PATH},#{IS_RESOURCE},
			#{START_PRICE},#{MODIFY_BY},#{MODIFY_DATE},#{PROJECT_STAGE_ID},
			#{BUILD_LAYERS},#{BUILD_AREA},#{FLOOR_AREA},#{AVAILABLE_MATERIALS},#{RESOURCE},#{DESCRIPTION},#{CITY},
			#{PART_COUNT},#{CREATE_BY},#{START_DATE},#{CREATE_DATE},#{CATEGORY_ID} 
		)
	</insert> 
	
	<!-- 修改项目信息-->
	<update id="edit" parameterType="pd">
		update  project set 
		<if test="PROJECT_NAME !=null and PROJECT_NAME !='' ">
		     PROJECT_NAME= #{PROJECT_NAME},
		</if>
		<if test="USER_ID !=null and USER_ID!='' ">	
			USER_ID=#{USER_ID},
		</if> 
		<if test="ADDR !=null and ADDR !='' ">	
			ADDR=#{ADDR},
		</if>
		<if test="DUE_DATE !=null and DUE_DATE !='' ">	
			DUE_DATE=#{DUE_DATE},
		</if>
		<if test="PROJECT_CONTENT !=null and PROJECT_CONTENT !='' ">	
			PROJECT_CONTENT=#{PROJECT_CONTENT},
		</if>  
		<if test="PROJECT_TYPE_ID !=null">	
			PROJECT_TYPE_ID=#{PROJECT_TYPE_ID},
		</if>
		<if test="RELEASE_DATE !=null">	
			RELEASE_DATE=#{RELEASE_DATE},
		</if>
		<if test="PROJECT_LEVEL !=null">
			PROJECT_LEVEL=#{PROJECT_LEVEL},
		</if>
		<if test="STATUS !=null">	
			STATUS=#{STATUS},
		</if>   
		<if test="PROJECT_STAGE_ID !=null">
			PROJECT_STAGE_ID=#{PROJECT_STAGE_ID} ,
		</if>
		<if test="BID_REQUIREMENTS !=null">
			BID_REQUIREMENTS=#{BID_REQUIREMENTS} ,
		</if>
		<if test="START_PRICE !=null">
			START_PRICE=#{START_PRICE} ,
		</if>
		<if test="COLLECT_COUNT !=null">
			COLLECT_COUNT=#{COLLECT_COUNT} ,
		</if>   
		<if test="IS_HOT !=null">
			IS_HOT=#{IS_HOT} ,
		</if> 
		<if test="DESCRIPTION !=null">
			 DESCRIPTION=#{DESCRIPTION} ,
		</if> 
		<if test="BUILD_LAYERS !=null">
			BUILD_LAYERS=#{BUILD_LAYERS}, 
		</if> 
		<if test="BUILD_AREA !=null">
			 BUILD_AREA=#{BUILD_AREA} ,
		</if> 
		<if test="FLOOR_AREA !=null">
			 FLOOR_AREA=#{FLOOR_AREA}, 
		</if> 
		<if test="AVAILABLE_MATERIALS!=null">
			AVAILABLE_MATERIALS=#{AVAILABLE_MATERIALS} ,
		</if> 
		<if test="RESOURCE!=null">
			RESOURCE=#{RESOURCE}, 
		</if>
		<if test="AUDIT_BY !=null">
			AUDIT_BY=#{AUDIT_BY},
		</if>
		<if test="AUDIT_DATE !=null">
			 AUDIT_DATE=#{AUDIT_DATE},
		</if> 
		<if test="MODIFY_BY !=null">
			MODIFY_BY=#{MODIFY_BY},
		</if>
		<if test="MODIFY_DATE !=null">
			MODIFY_DATE=#{MODIFY_DATE},
		</if> 
		<if test="START_DATE !=null">
			START_DATE=#{START_DATE},
		</if> 
		<if test="TOTAL_BIDDER !=null">
			TOTAL_BIDDER=#{TOTAL_BIDDER},
		</if>
		<if test="PART_COUNT !=null">
			PART_COUNT=#{PART_COUNT},
		</if>
		<if test="CITY !=null">
			CITY=#{CITY},
		</if> 
		<if test="IS_RESOURCE !=null">
			IS_RESOURCE=#{IS_RESOURCE},
		</if> 
		<if test="COVER_PATH !=null">
			COVER_PATH=#{COVER_PATH},
		</if> 
		<if test="CATEGORY_ID !=null">
			CATEGORY_ID=#{CATEGORY_ID},
		</if>  
		ID = #{PRO_ID} where ID = #{PRO_ID}
	</update>
	
	<!-- 删除项目 --> 
	<update id="delete" parameterType="pd" flushCache="false">
		update  project set  ISDEL='2' WHERE ID=#{PRO_ID} 
	</update>  
	
	<!-- 根据条件查询项目详情-->
	<select id="queryById" parameterType="pd" resultType="pd">
	SELECT P.*,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '接单中'  WHEN '5' THEN '已接单'  WHEN '6' THEN '交易完成' END AS PROJECT_STATUS,P.DUE_DATE &gt;now() AS DUE_STATUS,
          U.REAL_NAME,SU.NAME AS SYS_NAME,U.IMG AS USER_IMG,D.NAME AS STAGE_NAME,D.BIANMA,E.NAME AS BID_NAME,A.REAL_NAME AS WINNER_NAME,S.REAL_NAME AS MANAGER_NAME ,S.PHONE AS MANAGER_PHONE ,(SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID,
          (SELECT CY.COMPANY_NAME FROM COMPANY CY WHERE CY.ID=A.COMPANY_ID AND CY.ISDEL=1) AS BID_COMPANY, N.NAME AS NO_PASS,X.NAME AS LX_NAME,F.NAME AS PRO_LEVEL_NAME,CG.NAME AS CATE_NAME
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN  sys_dictionaries F ON F.BIANMA=P.PROJECT_LEVEL
      LEFT JOIN APP_USER S ON S.ID=P.PROJECT_MANAGER_ID  LEFT JOIN sys_dictionaries N ON N.BIANMA=P.NO_PASS_REASON LEFT JOIN sys_dictionaries X ON P.PROJECT_TYPE_ID=X.BIANMA LEFT JOIN CATEGORY CG ON P.CATEGORY_ID=CG.ID
		WHERE P.ID = #{PRO_ID} AND P.ISDEL=1 AND P.DISTINGUISH=2
	</select> 
	
	<!-- 根据项目Id查询项目所有信息，为修改做准备 -->
	<select id="queryByProId" parameterType="pd" resultType="pd">
	    SELECT P.*,X.NAME AS LX_NAME FROM PROJECT P LEFT JOIN sys_dictionaries X ON P.PROJECT_TYPE_ID=X.BIANMA  WHERE P.ID=#{PRO_ID} AND P.ISDEL=1 AND P.DISTINGUISH=2
	</select>  
	
	<!-- 我收藏的项目列表信息--> 
	<select id="queryCollects" parameterType="pd" resultType="pd">
		SELECT P.ID,P.PROJECT_NAME,P.COVER_PATH,P.IS_RESOURCE,P.USER_ID,P.CREATE_BY,P.IS_HOT,P.TOTAL_BIDDER,C.COLLECT_DATE FROM PROJECT P LEFT JOIN COLLECTION C ON P.ID=C.OBJECT_ID 
		WHERE C.USER_ID=#{USER_ID} AND P.ISDEL=1 AND P.DISTINGUISH=2 ORDER BY C.COLLECT_DATE DESC 
		 <if test="pageSize!=null and start!=null">
			limit #{start},#{pageSize}
		</if> 
	</select>    
	
	<!-- 我查看的项目列表信息--> 
	<select id="queryCks" parameterType="pd" resultType="pd">
		SELECT P.ID,P.PROJECT_NAME,P.COVER_PATH,P.IS_RESOURCE,P.IS_HOT,P.PROJECT_CONTENT,P.START_PRICE,P.USER_ID,P.CREATE_BY,P.CREATE_DATE,P.TOTAL_BIDDER,D.NAME AS STAGE_NAME,D.BIANMA,C.DATE,C.VIEW_COUNT 
		FROM PROJECT P LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID 
		LEFT JOIN JL_XM_CK C ON P.ID=C.PRO_ID WHERE C.USER_ID=#{USER_ID} AND P.ISDEL=1 AND P.DISTINGUISH=2 ORDER BY C.DATE DESC 
		 <if test="pageSize!=null and start!=null">
			limit #{start},#{pageSize}
		</if> 
	</select>    
	
	<!-- 我参与的项目列表信息--> 
	<select id="queryCys" parameterType="pd" resultType="pd">
		SELECT P.ID,P.PROJECT_NAME,P.COVER_PATH,P.IS_RESOURCE,P.IS_HOT,P.PROJECT_CONTENT,P.USER_ID,P.CREATE_BY,P.START_PRICE,P.CREATE_DATE,P.TOTAL_BIDDER,P.STATUS,D.NAME AS STAGE_NAME,D.BIANMA 
		FROM PROJECT P LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID 
		LEFT JOIN PROJECT_BIDDER B ON P.ID=B.PROJECT_ID WHERE B.USER_ID=#{USER_ID} AND P.ISDEL=1 AND P.DISTINGUISH=2 ORDER BY B.BID_DATE DESC 
		 <if test="pageSize!=null and start!=null">
			limit #{start},#{pageSize}
		</if> 
	</select>  
	
	<!-- 我发布的项目列表信息--> 
	<select id="queryFbs" parameterType="pd" resultType="pd">
		SELECT P.ID,P.PROJECT_NAME,P.COVER_PATH,P.IS_RESOURCE,P.PROJECT_CONTENT,P.IS_HOT,P.STATUS,P.USER_ID,P.CREATE_BY,P.START_PRICE,P.CREATE_DATE,P.TOTAL_BIDDER,D.NAME AS STAGE_NAME,D.BIANMA  
		FROM PROJECT P LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID  
		WHERE P.ISDEL=1 AND P.DISTINGUISH=2 AND P.USER_ID=#{USER_ID} ORDER BY P.MODIFY_DATE DESC 
		 <if test="pageSize!=null and start!=null">
			limit #{start},#{pageSize}
		</if> 
	</select>  
	
	<!-- 修改群名称 -->
	<update id="updateGroupName" parameterType="pd">
		UPDATE PROJECT SET  
		<if test="GROUP_NAME != null and GROUP_NAME !=''">
		   GROUP_NAME=#{GROUP_NAME},
		</if>  
		ID=#{PRO_ID} WHERE ID=#{PRO_ID}
    </update>
    
    <!-- 热门项目列表搜索 -->
	<select id="queryHotProject" resultType="pd">
	   SELECT P.ID,P.PROJECT_NAME,P.PROJECT_CONTENT FROM PROJECT P WHERE P.IS_HOT=1 and P.STATUS &gt;=4 AND P.ISDEL=1 AND P.DISTINGUISH=2 ORDER BY P.MODIFY_DATE DESC LIMIT 0,3 
	</select> 
    
    <!-- 最新成功交易的项目 -->
	<select id="queryNewBidder" resultType="pd">
	   SELECT P.ID,P.PROJECT_NAME,P.COVER_PATH,P.IS_RESOURCE,P.USER_ID,P.CREATE_BY,P.PROJECT_CONTENT,P.COVER_PATH FROM PROJECT P WHERE  P.STATUS =6 AND P.ISDEL=1 AND P.DISTINGUISH=2  ORDER BY P.BID_DATE DESC LIMIT 0,1
	</select> 
	
	 <!-- 根据标题模糊查询 -->
    <select id="queryProByTitle" parameterType="pd" resultType="pd">
		SELECT p.ID,PROJECT_NAME,p.COVER_PATH,p.IS_RESOURCE,p.PROJECT_CONTENT,p.STATUS,p.USER_ID,p.CREATE_BY,'PRO' AS TABLE_NAME from PROJECT p 
		where p.STATUS &gt;=4 AND p.ISDEL=1 AND p.DISTINGUISH=2
       <if test="TITLE != null and TITLE !=''">
		   AND p.PROJECT_NAME LIKE CONCAT(CONCAT('%', #{TITLE}),'%')
		</if>    
    </select> 
    
     <!-- 查询项目经理的信息-->
	<select id="queryManager" parameterType="pd" resultType="pd">
		SELECT A.ID,A.REAL_NAME,A.PLATFORM,P.PROJECT_NAME,P.ID AS PID FROM APP_USER A LEFT JOIN PROJECT P ON A.ID=P.PROJECT_MANAGER_ID WHERE P.ID=#{PRO_ID}
	</select> 
</mapper>