<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppWdDzMapper">  
	<!-- 添加点赞 -->
	<insert id="save" parameterType="pd">
		INSERT INTO JL_WD_DZ(ID,USER_ID,WT_ID,DATE) values(#{ID},#{USER_ID},#{WT_ID},#{DATE})  
    </insert> 
    
     <!-- 取消点赞 -->
	 <delete id="del" parameterType="pd">
		delete from JL_WD_DZ where USER_ID =#{USER_ID} AND WT_ID=#{WT_ID}
	 </delete>  
    
    <!-- 查询之前是否已经点赞-->
    <select id="checkDz" parameterType="pd" resultType="pd">
   		SELECT * FROM JL_WD_DZ  WHERE USER_ID=#{USER_ID} AND WT_ID=#{WT_ID}
	</select>    
</mapper>